*{
  padding: 0;
  margin: 0;
}
#header{
  width: 100%;
  padding: 5px 0;
  background: #1C2327;
  height: 50px;
}
#header::before{
  background:#000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  content:"";
  height: 5px;
  position: absolute;
  top:0;
  width: 100%;
}
